.container:active {
    transform: scale(1, 1.1);
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px 20px 0;
}

.link:hover {
    color: blue;
}

.link:hover .userAvatar {
    border-color: blue;
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}
  
  