.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.form {
    width: 300px;
}

.inputField {
    position: relative;
    display: flex;
    flex-direction: column;
    color: blue;
    font-weight: bold;
}

.input {
    width: 250px;
    height: 30px;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    margin-bottom: 25px;
    color: blue;
    outline: none;
}

.input:focus {
    border-width: 3px;
}

.inputErrors {
    position: absolute;
    bottom: 3px;
    font-weight: normal;
    font-size: 14px;
    color: red;
}

.rememberMeField {
    color: blue;
    font-weight: bold;
    margin-bottom: 25px;
}

.submitBtn {
    display: flex;
    font-family: Montserrat, sans-serif;
    border: none;
    color: white;
    font-size: 16px;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 50px 0 auto;
}