.container {
    display: flex;
    height: max-content;
    color: cornflowerblue;
    margin-bottom: 30px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-right: 30px;
}

.userAvatar {
    width: 60%;
    border-radius: 50%;
    border: 2px solid cornflowerblue;
}

.messageContent {
    position: relative;
    width: 70%;
    text-align: start;
}

.message {
    position: relative;
    width: 100%;
    font-weight: 600;
    color: cornflowerblue;
    background-color: #D0D0D0;
    border: 2px solid #D0D0D0;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    margin: 0 auto 0 0;
}

.message:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -14px;
    width: 10px;
    height: 10px;
    background: #D0D0D0;
    border-left: 12px solid white;
    border-bottom: 12px solid #D0D0D0;
}

.delBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 50%;
    padding: 0 5px 2px;
}