.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preloader {
    top: 200px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.showMoreBtn {
    padding: 10px 100px;
    margin-bottom: 30px;
}

.usersCountSpan {
    font-weight: 600;
    font-size: 18px;
    color: cornflowerblue;
}
