* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.wrapper {
  padding: 10px 280px 10px 260px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "app-header app-header"
    "app-sidebar app-content";
  grid-template-rows: 100px 100%;
  grid-template-columns: 20% 80%;
  grid-gap: 20px;
}

.content {
  width: 100%;
}

.main-page {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}