* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.wrapper {
    font-family: Montserrat, sans-serif;
    margin: 20px 20px 20px 20px;
}

.container {
    max-width: 1920px;
    display: grid;
    grid-template-areas:
        "app-header app-header"
        "app-sidebar app-content";
    grid-template-rows: 100px 100%;
    grid-template-columns: 15% 84%;
    grid-gap: 20px;
}

.content {
    position: relative;
    width: 100%;
}

.main-page {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}

.preloader {
    position: fixed;
    top: 40%;
    text-align: center;
    width: 100%;
}
