.container {
    margin-bottom: 100px;
}

.textarea {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100px;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 20px;
    border-color: cornflowerblue;
    border-width: 3px;
    padding: 20px;
    margin-bottom: 20px;
}

.textarea::placeholder {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: cornflowerblue;
}

.buttons {
    display: flex;
}

.button {
    font-size: 18px;
    border-radius: 20px;
    border-color: cornflowerblue;
    border-width: 3px;
    border-style: solid;
}

.button_send {
    color: white;
    background-color: cornflowerblue;
    padding: 10px 60px;
    margin-left: auto;
    margin-right: 30px;
}

.button_send:active {
    background-color: blue;
    border-color: blue;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.button_cancel {
    padding: 10px 50px;
    background-color: white;
}

.button_cancel:active {
    color: white;
    background-color: blue;
    border-color: blue;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}