.container {
    margin-bottom: 100px;
}

.textarea {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100px;
    border-width: 2px;
    padding: 20px;
    margin-bottom: 20px;
}

.textarea::placeholder {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: cornflowerblue;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
