.container {
    width: 60%;
    margin: 0 15% 30px 15%;
}

.post {
    position: relative;
    display: flex;
    max-width: 100%;
    font-size: 16px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px;
    align-items: center;
}

.userAvatar {
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 2px solid cornflowerblue;
    margin-right: 50px;
}

.postText {
    cursor: pointer;
}

.postTextarea {
    width: 100%;
    height: 100px;
    font-size: 16px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 10px;
}

.delBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 50%;
    padding: 0 5px 2px;
}

.likes {
    display: flex;
    align-items: center;
}

.likeAmount {
    font-size: 10px;
    color: blue;
    margin-left: auto;
    margin-right: 20px;
}

.like {
    padding: 0 5px;
}

.like:active {
    color: white;
    background-color: cornflowerblue;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
